<div class="mb-5" style="margin-top: 20px">
	<MudContainer MaxWidth="MaxWidth.Small">
		<MudPaper Height="180px" Width="120%" Square="true">
			<div class="bg">
				<h2>@person.person.Firstname @person.person.Lastname</h2>
				@if (@person.person.AvatarPath != null)
				{
					<MudAvatar Image="@person.person.AvatarPath" />
				}
				else
				{
					<MudAvatar Color="Color.Primary">@person.person.Firstname.First()@person.person.Lastname.First()</MudAvatar>
				}
			</div>
			<hr />
		</MudPaper>
	</MudContainer>




</div>
@code {
	[Parameter]
	public Teammember person { get; set; }}