@page "/project/{proid:int}/tasks"
@layout ProjectMainLayout
@inject IDialogService DialogService
<h3>Tasks for project @proid</h3>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 d-flex align-items-center">
			<MudButton Variant="Variant.Filled" DisableElevation="true" Style="background-color: #0088d3; color: white" Color="Color.Primary" OnClick="@((e) => OpenDialog(maxWidth))">
				+ Task
			</MudButton>
			<MudPopover Open="@_isOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
				<AddPerson />
			</MudPopover>
			<Searchbar OnSearchterm="OnTermSearch" />
		</div>
	</div>
</div>

<TasksListComponent proid="@proid" searchTerm="@searchterm" />

@code {
    [Parameter]
    public int proid { get; set; }

	public bool _isOpen;
	private string searchterm = "";


	private void OnTermSearch(string searchterm)
	{
		this.searchterm = searchterm;
	}

	DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true };

	private void OpenDialog(DialogOptions options)
	{
		DialogService.Show<AddTask>("Add Task", options);
	}

}
