@inject NavigationManager NavigationManager
<MudItem style="border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); min-width: 500px; min-height: 150px;" @onclick="RedirectToItemPage">
	<div class="bg">
		<MudText Typo="Typo.h6" Class="w-50">@project.Name</MudText>
	</div>
	<hr />
	<MudText Class="mw-100">@project.Description</MudText>
	<MudChip Variant="Variant.Outlined" Color="Color.Primary" Class="flex-right-down">@project.status</MudChip>
	<div class="flex-right-down">
		@if (project.assignedTeam.members != null)
		{
			<MudAvatarGroup Max="3" Spacing="4" MaxColor="Color.Primary">
			@foreach (var teamMember in project.assignedTeam.members)
			{
					if (@teamMember.person.AvatarPath != null)
					{
						<MudAvatar Image="@teamMember.person.AvatarPath" />
					}
					else
					{
						<MudAvatar Color="teamMember.person.AvatarColor">@teamMember.person.Firstname.First()@teamMember.person.Lastname.First()</MudAvatar>
					}
			}
			</MudAvatarGroup>
		}
	</div>
</MudItem>


@code {
	[Parameter]
	public Project project{ get; set; }

	private void RedirectToItemPage()
	{
		NavigationManager.NavigateTo($"/project/{project.Id}", true);
	}
}
