<div class="mb-5" style="margin-top: 20px">
	<MudContainer MaxWidth="MaxWidth.Small">
		<MudPaper Height="180px" Width="120%" Square="true">
			<div class="bg">
				<h2>@person.Firstname @person.Lastname</h2>
				@if(person.AvatarPath != null)
				{
					<MudAvatar Image="@person.AvatarPath"></MudAvatar>
				}
				else
				{
					<MudAvatar Color="@person.AvatarColor">@person.Firstname.First()@person.Lastname.First()</MudAvatar>

				}
			</div>
			<hr />
			<p>@person.Address</p>
			<p>@person.Email</p>
		</MudPaper>
	</MudContainer>




</div>
@code {
	[Parameter]
	public Person person { get; set; }

	Random random = new Random();

	private Color GetRandomColor()
	{

		Type type = typeof(Color);
		Array values = type.GetEnumValues();
		int index = random.Next(values.Length);

		return (Color)values.GetValue(index);
	}


}
