<div class="mb-5" style="margin-top: 20px">
	<MudContainer MaxWidth="MaxWidth.Small">
		<MudPaper Height="180px" Width="120%" Square="true">
			<div class="bg">
				<h2>@person.Firstname @person.Lastname</h2>
				<img src="@person.AvatarPath" class="rounded-circle" width="50px" />
			</div>
			<hr />
			<p>@person.Address</p>
			<p>@person.Email</p>
		</MudPaper>
	</MudContainer>




</div>
@code {
	[Parameter]
	public Person person { get; set; }
}
