@inject IDialogService DialogService

<div class="mb-5" style="margin-top: 20px">
	<MudContainer MaxWidth="MaxWidth.Medium">
		<MudCard @onclick="@((e) => OpenPersonCard(maxWidth))">
			<MudCardHeader>
				<CardHeaderContent>
					<h2>@person.Firstname @person.Lastname</h2>
				</CardHeaderContent>
				<CardHeaderAvatar>
					@if (person.AvatarPath != null)
					{
						<MudAvatar Image="@person.AvatarPath"></MudAvatar>
					}
					else
					{
						<MudAvatar Color="@person.AvatarColor">@person.Firstname.First()@person.Lastname.First()</MudAvatar>

					}
				</CardHeaderAvatar>
			</MudCardHeader>
			<MudCardContent>
				<MudText>@person.Address</MudText>
				<MudText>@person.Email</MudText>
			</MudCardContent>
		</MudCard>
	</MudContainer>

</div>
@code {
	[Parameter]
	public Person person { get; set; }

	DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true };

	private void OpenPersonCard(DialogOptions options)
	{
		var parameter = new DialogParameters { ["person"] = person };
		DialogService.Show<PersonCard>("", parameter, options);
	}
}
