<MudCard>
	<MudCardHeader>
			<CardHeaderContent>
				<h2>@person.Firstname @person.Lastname</h2>
			</CardHeaderContent>
			<CardHeaderAvatar>
			@if (person.AvatarPath != null)
			{
							<MudAvatar Image="@person.AvatarPath"></MudAvatar>
			}
			else
			{
							<MudAvatar Color="@person.AvatarColor">@person.Firstname.First()@person.Lastname.First()</MudAvatar>

			}
			</CardHeaderAvatar>
			</MudCardHeader>
	<MudCardContent>
		<MudText>@person.Email</MudText>
		<MudText>@person.Phone</MudText>
		<MudText>@person.Address</MudText>
		@if(person.Address != null){
			<iframe width="425" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="@GetPersonMapsURL()" style="border: 1px solid black; border-radius: 5px;"></iframe>
		}
	</MudCardContent>
</MudCard>



@code {

	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	[Parameter]
	public Person person { get; set; }


	private string GetPersonMapsURL()
	{
		return $"https://www.openstreetmap.org/export/embed.html?bbox={person.Address.Longitude.ToString().Replace(',', '.')}%2C{person.Address.Latitude.ToString().Replace(',', '.')}%2C{person.Address.Longitude.ToString().Replace(',', '.')}%2C{person.Address.Latitude.ToString().Replace(',', '.')}&amp;layer=mapnik";
	}
}
